## Deliverable 3. Create a Travel Itinerary Map.

In [1]:
# Dependencies and Setup
import pandas as pd
import requests
import gmaps

# Import API key
from Config1 import g_key

# Configure gmaps
gmaps.configure(api_key=g_key)

In [2]:
# 1. Read the WeatherPy_vacation.csv into a DataFrame.
vacation_df = pd.read_csv("../Vacation_Search/WeatherPy_vacation.csv")
vacation_df

,City_ID,City,Country,Max Temp,Current Description,Lat,Lng,Hotel Name
0,5,Labuhan,ID,76.71,overcast clouds,-6.8844,112.2051,DoubleFAG
1,6,Mar Del Plata,AR,78.82,clear sky,-38.0023,-57.5575,Gran Hotel Mar del Plata
2,7,Kapaa,US,70.20,light rain,22.0752,-159.3190,Sheraton Kauai Coconut Beach Resort
3,8,Carnarvon,AU,77.07,clear sky,-24.8667,113.6333,Hospitality Carnarvon
4,15,Labuhan,ID,76.71,overcast clouds,-6.8844,112.2051,DoubleFAG
...,...,...,...,...,...,...,...,...
231,615,Djibo,BF,84.74,clear sky,14.1022,-1.6306,Centre Des Ressources DPENA
232,616,Thinadhoo,MV,82.45,broken clouds,0.5333,72.9333,NaN
233,617,Montevideo,UY,77.02,scattered clouds,-34.8335,-56.1674,KOLPING Hotel
234,619,Butterworth,MY,80.64,few clouds,5.3991,100.3638,Cititel Penang
235,621,Bambanglipuro,ID,77.81,heavy intensity rain,-7.9500,110.2833,Puri Brata

In [3]:
# 2. Using the template add the city name, the country code, the weather description and maximum temperature for the city.
info_box_template = """
<dl>
<dt>Hotel Name</dt><dd>{Hotel Name}</dd>
<dt>City</dt><dd>{City}</dd>
<dt>Country</dt><dd>{Country}</dd>
<dt>Current Weather</dt><dd>{Current Description} and {Max Temp} °F</dd>
</dl>
"""

# 3a. Get the data from each row and add it to the formatting template and store the data in a list.
hotel_info = [info_box_template.format(**row) for index, row in vacation_df.iterrows()]

# 3b. Get the latitude and longitude from each row and store in a new DataFrame.
locations = vacation_df[["Lat", "Lng"]]

In [4]:
# 4a. Add a marker layer for each city to the map.
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
marker_layer = gmaps.marker_layer(locations, info_box_content=hotel_info)
fig.add_layer(marker_layer)
# 4b. Display the figure
fig

Figure(layout=FigureLayout(height='420px'))

In [5]:
# From the map above pick 4 cities and create a vacation itinerary route to travel between the four cities. 
# 5. Create DataFrames for each city by filtering the 'vacation_df' using the loc method. 
# Hint: The starting and ending city should be the same city.

vacation_start = vacation_df.loc[vacation_df["City"]=="Alice Springs"]
vacation_end = vacation_df.loc[vacation_df["City"]=="Alice Springs"]
vacation_stop1 = vacation_df.loc[vacation_df["City"]=="Yulara"]
vacation_stop2 = vacation_df.loc[vacation_df["City"]=="Kununurra"] 
vacation_stop3 = vacation_df.loc[vacation_df["City"]=="Mount Isa"]

In [6]:
# 6. Get the latitude-longitude pairs as tuples from each city DataFrame using the to_numpy function and list indexing.
start = tuple(map(tuple,(vacation_start[['Lat', 'Lng']].to_numpy())))[0]
end = tuple(map(tuple,(vacation_end[["Lat", "Lng"]].to_numpy())))[0]
stop1 = tuple(map(tuple,(vacation_stop1[["Lat", "Lng"]].to_numpy())))[0]
stop2 =  tuple(map(tuple,(vacation_stop2[["Lat", "Lng"]].to_numpy())))[0]
stop3 = tuple(map(tuple,(vacation_stop3[["Lat", "Lng"]].to_numpy())))[0]

In [7]:
# 7. Create a direction layer map using the start and end latitude-longitude pairs,
# and stop1, stop2, and stop3 as the waypoints. The travel_mode should be "DRIVING", "BICYCLING", or "WALKING".

fig = gmaps.figure()
start2end = gmaps.directions_layer(start, end, waypoints=[stop1,stop2,stop3],travel_mode='BICYCLING')
fig.add_layer(start2end)
fig

Figure(layout=FigureLayout(height='420px'))

In [8]:
# 8. To create a marker layer map between the four cities.
#  Combine the four city DataFrames into one DataFrame using the concat() function.
itinerary_df = pd.concat([vacation_start,
                          vacation_stop1,
                          vacation_stop2,
                          vacation_stop3],ignore_index=True)
itinerary_df

,City_ID,City,Country,Max Temp,Current Description,Lat,Lng,Hotel Name
0,198,Alice Springs,AU,74.75,scattered clouds,-23.7000,133.8833,Desert Palms Alice Springs
1,570,Yulara,AU,77.23,clear sky,-25.2406,130.9889,Desert Gardens Hotel - Ayers Rock Resort
2,204,Kununurra,AU,76.98,broken clouds,-15.7667,128.7333,Hotel Kununurra
3,523,Mount Isa,AU,76.77,clear sky,-20.7333,139.5000,ibis Styles Mt Isa Verona

In [9]:
# 9 Using the template add city name, the country code, the weather description and maximum temperature for the city. 
info_box_template = """
<dl>
<dt>Hotel Name</dt><dd>{Hotel Name}</dd>
<dt>City</dt><dd>{City}</dd>
<dt>Country</dt><dd>{Country}</dd>
<dt>Current Weather</dt><dd>{Current Description} and {Max Temp} °F</dd>
</dl>
"""

# 10a Get the data from each row and add it to the formatting template and store the data in a list.
hotel_info = [info_box_template.format(**row) for index, row in itinerary_df.iterrows()]

# 10b. Get the latitude and longitude from each row and store in a new DataFrame.
locations = itinerary_df[["Lat", "Lng"]]

In [10]:
# 11a. Add a marker layer for each city to the map.
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
marker_layer = gmaps.marker_layer(locations, info_box_content=hotel_info)
fig.add_layer(marker_layer)
# 11b. Display the figure
fig

Figure(layout=FigureLayout(height='420px'))

In [11]:
# ******** End of Travel Itinerary Map module ************